body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Outfit;
    background-color: #383535;
  }
  /*Start Page */

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }
  
  
  .left-section {
    text-align: left;
    margin-bottom: 5px; /* Espacio entre el título y el botón */
    padding-right: 400px;
  }
  
  .right-section {
    text-align: center;
    padding-left: 20px;
  }

  /*Introduction Page */

  .centered-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }

  .top-section {
    padding-bottom: 30px;
    text-align: center;
  }
  
  .bottom-section {
    padding-top: 50px;
    text-align: center;
  }

  /* namePage */

  .centered-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }
  .top-sectionNP {
    padding-bottom: 50px;
    text-align: center;
  }
  
  .bottom-sectionNP {
    padding-top: 100px;
    text-align: center;
  }

  /*birthdatePage */

  .centered-container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }
  .top-sectionBP {
    padding-bottom: 50px;
    text-align: center;
  }
  
  .bottom-sectionBP {
    padding-top: 100px;
    text-align: center;
  }

  /*Components*/
  
  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    text-shadow: black 3px 3px 5px;
  }

  p{
    font-size: 25px;
    text-align: center;
    color: #fff;
    text-shadow: black 2px 2px 7px;
  }

  #continueText{
    font-size: 17px;
    text-align: center;
    color: #fff;
    text-shadow: black 2px 2px 7px;
  }

  #nameLabel{
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: black 2px 2px 7px;
  }

  #nameTxtbox{
    font-family: Outfit;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    box-shadow: white 6px 5px;
  }

  #birthdateInput{
    font-family: Outfit;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    box-shadow: white 6px 5px;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
  }
  
  /* Botones */

  #startbtn{
    font-family: Outfit;
    width: 150px;
    height: 50px;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #startbtn::before{
    font-family: Outfit;
    width: 150px;
    height: 50px;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    transform: translateX(0) translateY(0);
    transition: all 0.4s ease-in-out;
    background-color: #828080;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #startbtn:hover{
    transform: translateX(-10px) translateY(-5px);
    transition: all 0.4s ease-out;
    box-shadow: white 6px 5px;
  }
  #startbtn:not(:hover){
    transform: translateX(0) translateY(0);
    transition: all 0.4s ease-out;
  }

  #continuebtn1 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    box-shadow: black 0px 0px 10px;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn1::before {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn1:hover{
    transition: all 0.4s ease-out;
    box-shadow: white 0px 0px 30px;
    border: 1px solid #fff;
  }
  #continuebtn1:not(:hover){
    transition: all 0.4s ease-out;
  }

  #continuebtn2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    box-shadow: black 0px 0px 10px;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn2::before {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn2:hover{
    transition: all 0.4s ease-out;
    box-shadow: white 0px 0px 30px;
    border: 1px solid #fff;
  }
  #continuebtn2:not(:hover){
    transition: all 0.4s ease-out;
  }

  #continuebtn3 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    box-shadow: black 0px 0px 10px;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn3::before {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn3:hover{
    transition: all 0.4s ease-out;
    box-shadow: white 0px 0px 30px;
    border: 1px solid #fff;
  }
  #continuebtn3:not(:hover){
    transition: all 0.4s ease-out;
  }
  
  /* Media query para dispositivos móviles */
  @media screen and (max-width: 768px) {
    
    /*Start Page */
    .centered-container {
      flex-direction: column;
    }

    .left-section{
      padding: 20px;
    }
    .right-section {
      justify-content: center;
      padding: 80px;
    }

    /*Introduction Page */
    .centered-container2 {
      flex-direction: column;
    }

    .top-section{
       padding: 20px;
    }
    .bottom-section {
      justify-content: center;
      padding: 80px;
    }
  }
  
  
  
  