body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Outfit;
    background-color: #383535;
  }
  
  /*Start Page */

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }
  
  
  .left-section {
    text-align: left;
    margin-bottom: 5px; /* Espacio entre el título y el botón */
    padding-right: 400px;
  }
  
  .right-section {
    text-align: center;
    padding-left: 20px;
  }

  /*Introduction Page */

  .centered-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }

  .top-section {
    padding-bottom: 70px;
    text-align: center;
  }
  
  .bottom-section {
    text-align: center;
  }

  /*Components*/
  
  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    text-shadow: black 3px 3px 5px;
  }

  p{
    font-size: 25px;
    text-align: center;
    color: #fff;
    text-shadow: black 2px 2px 7px;
  }
  
  #startbtn{
    font-family: Outfit;
    width: 150px;
    height: 50px;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #startbtn::before{
    font-family: Outfit;
    width: 150px;
    height: 50px;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    transform: translateX(0) translateY(0);
    transition: all 0.4s ease-in-out;
    background-color: #828080;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #startbtn:hover{
    transform: translateX(-10px) translateY(-5px);
    transition: all 0.4s ease-out;
    box-shadow: white 6px 5px;
  }
  #startbtn:not(:hover){
    transform: translateX(0) translateY(0);
    transition: all 0.4s ease-out;
  }

  #continuebtn {
    font-family: Outfit;
    width: 150px;
    height: 60px;
    font-size: 25px;
    text-shadow: black 3px 3px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #continuebtn::before {
    font-family: Outfit;
    width: 150px;
    height: 60px;
    font-size: 25px;
    text-shadow: black 3px 3px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #continuebtn:hover{
    transform: translateX(-10px) translateY(-5px);
    transition: all 0.4s ease-out;
    box-shadow: white 6px 5px;
  }
  #continuebtn:not(:hover){
    transform: translateX(0) translateY(0);
    transition: all 0.4s ease-out;
  }
  
  /* Media query para dispositivos móviles */
  @media screen and (max-width: 768px) {
    
    /*Start Page */
    .centered-container {
      flex-direction: column;
    }

    .left-section{
        padding: 20px;
    }
    .right-section {
      justify-content: center;
      padding: 80px;
    }

    /*Introduction Page */
    .centered-container2 {
        flex-direction: column;
    }

    .top-section{
        padding: 20px;
    }
    .bottom-section {
      justify-content: center;
      padding: 80px;
    }
  }
  
  
  
  