body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Outfit;
    background-color: #383535;
  }
  /*Start Page */

  .centered-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; /* Agrega esto para controlar la posición relativa */
    top: 0; /* Ajusta la posición vertical al 50% */
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }
  
  
  .left-section {
    text-align: left;
    margin-bottom: 5px; /* Espacio entre el título y el botón */
    padding-right: 400px;
  }
  
  .right-section {
    text-align: center;
    padding-left: 20px;
  }
  
  #startbtn{
    font-family: Outfit;
    width: 150px;
    height: 50px;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #startbtn::before{
    font-family: Outfit;
    width: 150px;
    height: 50px;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    transform: translateX(0) translateY(0);
    transition: all 0.4s ease-in-out;
    background-color: #828080;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #startbtn:hover{
    transform: translateX(-10px) translateY(-5px);
    transition: all 0.4s ease-out;
    box-shadow: white 6px 5px;
  }
  #startbtn:not(:hover){
    transform: translateX(0) translateY(0);
    transition: all 0.4s ease-out;
  }

  .button-container {
   position: absolute;
   top: 95%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: all 0.4s ease-out;
  }

  #bottom-buttonSP {
   cursor: pointer;
   background-color: transparent;
   box-shadow: transparent;
   border: transparent;
   text-shadow: black 2px 2px 5px;
   color:  #fff;
   font-size: 2em;
   transition: transform .4s ease-in-out;
  }
  #bottom-buttonSP:hover{
    transform: rotate(-180deg);
  }

  .button-containerOnGarden {
   position: absolute;
   top: 7%; /* Ajusta la posición vertical según tus preferencias */
   left: 50%; /* Ajusta la posición horizontal según tus preferencias */
   display: none;
   transition: all 0.4s ease;
   transform: rotate(-180deg);
  }

  /*Introduction Page */

  .centered-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }

  .top-section {
    padding-bottom: 30px;
    text-align: center;
  }
  
  .bottom-section {
    padding-top: 50px;
    text-align: center;
  }

  #continuebtn1 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    box-shadow: black 0px 0px 10px;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn1::before {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn1:hover{
    transition: all 0.4s ease-out;
    box-shadow: white 0px 0px 30px;
    border: 1px solid #fff;
  }
  #continuebtn1:not(:hover){
    transition: all 0.4s ease-out;
  }

  /* namePage */

  .centered-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }
  .top-sectionNP {
    padding-bottom: 50px;
    text-align: center;
  }
  
  .bottom-sectionNP {
    padding-top: 100px;
    text-align: center;
  }

  #continuebtn2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    box-shadow: black 0px 0px 10px;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn2::before {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn2:hover{
    transition: all 0.4s ease-out;
    box-shadow: white 0px 0px 30px;
    border: 1px solid #fff;
  }
  #continuebtn2:not(:hover){
    transition: all 0.4s ease-out;
  }

  /*birthdatePage */

  .centered-container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }
  .top-sectionBP {
    padding-bottom: 50px;
    text-align: center;
  }
  
  .bottom-sectionBP {
    padding-top: 100px;
    text-align: center;
  }

  #continuebtn3 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    box-shadow: black 0px 0px 10px;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn3::before {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #828080;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #continuebtn3:hover{
    transition: all 0.4s ease-out;
    box-shadow: white 0px 0px 30px;
    border: 1px solid #fff;
  }
  #continuebtn3:not(:hover){
    transition: all 0.4s ease-out;
  }

  /* GeneratinPage */

  .centered-container5 {
    position: fixed; /* Mantiene la sección fija en la pantalla */
    top: 0; /* Posiciona la sección en la parte superior */
    left: 0; /* Posiciona la sección a la izquierda */
    max-width: 768px; /* Opcional: Establece un ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  }

  .circlebackground {
    width: 100px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 100px;
    filter: blur(30px);
    animation: moveRandomly 100000s infinite linear;
    position: absolute;
  }

   /*resultsPage */
  
   .centered-container6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px; 
   }

   .center-sectionRP{
     display: flex;
     justify-content: center; /* Centra horizontalmente */
     align-items: center; /* Centra verticalmente */
   }

   .bottom-sectionRP{
    padding-top: 400px;
    text-align: center;
   }
  
  /* Define diferentes colores para los círculos */
  .circlebackground:nth-child(1) {
    background: #5900EB;
  }
  .circlebackground:nth-child(2) {
    background: #00C0FF;
  }
  .circlebackground:nth-child(3) {
    background: #9D7100;
  }
  .circlebackground:nth-child(4) {
    background: #FFDC83;
  }
  .circlebackground:nth-child(5) {
    background: #00789D;
  }
  .circlebackground:nth-child(6) {
    background: #009D23;
  }
  .circlebackground:nth-child(7) {
    background: #17dfea;
  }
  .circlebackground:nth-child(8) {
    background: #d518af;
  }
  .circlebackground:nth-child(9) {
    background: #8aad36;
  }
  .circlebackground:nth-child(10) {
    background: #fd7a08;
  }

  @keyframes moveRandomly {
    0%, 100% {
      transform: translate(40px, -35px);
    }
    15% {
      transform: translate(25px, 80px);
    }
    25% {
      transform: translate(30px, 65px);
    }
    35% {
      transform: translate(50px, 55px);
    }
    50% {
      transform: translate(-70px, 50px);
    }
    75% {
      transform: translate(60px, -30px);
    }
  }

  /* GardenPage */

  .centered-containerGarden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90;
    max-width: 768px;
  }

  /*Components*/
  
  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    text-shadow: black 3px 3px 5px;
  }

  p{
    font-size: 25px;
    text-align: center;
    color: #fff;
    text-shadow: black 2px 2px 7px;
  }

  #continueText{
    font-size: 17px;
    text-align: center;
    color: #fff;
    text-shadow: black 2px 2px 7px;
  }

  #nameLabel{
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: black 2px 2px 7px;
  }

  #resultMsg{
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: black 2px 2px 7px;
  }

  #nameTxtbox{
    font-family: Outfit;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    box-shadow: white 6px 5px;
  }

  #birthdateInput{
    font-family: Outfit;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    text-shadow: black 2px 2px 5px;
    background-color: #828080;
    color: #fff;
    border: none;
    box-shadow: white 6px 5px;
  }

  #generatingMsg{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 1;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
  }

  .blur-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, #5900EB, #009D23); /* Colores del círculo */
    filter: blur(20px); /* Efecto de desenfoque */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el círculo esté detrás del texto */
  }

  .slide-up {
  animation: slideUp 0.5s ease forwards;
  }

  @keyframes slideUp {
    0% {
    transform: translateY(100%);
    opacity: 0;
     }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
  }

  .slide-down {
    animation: slideDown 0.5s ease forwards;
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(10%);
      opacity: 1;
    }
  }
  
  /* Media query para dispositivos móviles */
  @media screen and (max-width: 768px) {
    /*Start Page */
    .centered-container{
      display: fixed;
      flex-direction: column;
      top: 0%;
    }
    .button-container{
    
    }

    .left-section{
      padding: 20px;
    }
    .right-section {
      justify-content: center;
      padding: 80px;
    }

    /*Introduction Page */
    .centered-container2 {
      flex-direction: column;

    }

    .top-section{
      padding: 20px;
    }
    .bottom-section {
      justify-content: center;
      padding: 80px;
    }
  }
  
  
  
  